<form action="/students" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">
<br>
  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name">
<br>
  <label for="house">House:</label>
  <select type="text" name="house" id="house-selection">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherine">Slytherine</option>
  </select>
<br>
  <label for="age">Age:</label>
  <input type="number" name="age" id="age">
<br>
  <input type="submit" value="ADD STUDENT">

</form>
