<nav>
  <ul>
    <li><a href="/students">Student List</a></li>
    <!-- <li><a href="/pizza-orders/new">Order a Pizza</a></li> -->
  </ul>
</nav>
<h1>View Student Admissions</h1>


<p>First Name: <%= @student.first_name() %></p>
<p>Last Name: <%= @student.last_name() %></p>
<p>House: <%= @student.house() %></p>
<p>Age: <%= @student.age() %></p>
